h3{
  text-align:center;
  font-size:30px;
  line-height:1.6em;
  margin-top:20px;
  margin-bottom:20px;
  font-weight:300;
}

.progress{
  margin-top:10px !important;
  margin-bottom:20px !important;
}

.box1{
  margin-top:20px;
}

.box-board{
  margin-bottom:20px;
  padding: 20px 300px;
  width:100%;
  line-height:30px;
  ul{
    list-style:none;
    line-height:30px;
    .item{
      display:inline-block;
    }
  }
  .list-left{
    float:left;
    .item{
      width:100px;
    }
  }
  .list-right{
    float:right;
    .item{
      width:120px;
    }
  }
}

.box2{
  width:80%;
  margin:0 auto;
}