$leftWidth: 200px;

.post{
  position:relative;
  margin-bottom:20px;
  @extend .clearfix;
  width:100%;
  border-left:$leftWidth solid #f9f9f9;
  .side{
    float:left;
    width: $leftWidth;
    margin-left:- $leftWidth;
    padding:30px 10px;
    text-align:center;
    .username{
      font-size:16px;
      margin-bottom:20px;
    }
  }
  .main{
    width:100%;
    min-height:200px;
    padding:30px;
    box-shadow:2px 0 3px rgba(0,0,0,0.2) inset;
    .head{
      margin-bottom:20px;
      .reply,.title{
        font-size:18px;
        font-weight:bold;
        margin-right:1em;
      }
    }
  }
}