* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom:15px;
}
body {
  font-size:14px;
  line-height:1.6em !important;
  overflow: visible;
  background-color: #f5f5f5;
}


.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center{
  text-align:center;
}
.text-left{
  text-align:left;
}
.text-right{
  text-align:right;
}
.text-ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  width:100%;
  white-space: nowrap;
}
.text-muted{
  color:#a9a9a9;
}
.s-plainLink a{
  color:inherit;
}
.s-plainLink.a{
  color:inherit;
}

.container {
  @extend .clearfix;
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.wrapper{
  position:relative;
}

.content {
  min-height: 100%;
  padding-top: $navbar1Height + 48px + 60px;
  padding-bottom: 30px;
  position: relative;
}
.row{
  @extend .clearfix;
  display:table;
  zoom:1;
  width:100%;
}


.u-panel {
  padding: 10px 30px;
  margin-bottom: 30px;
}

ul.list-float {
  @extend .clearfix;
  list-style: none;
  padding-left: 0;
  & > li {
    float: left;
  }
}


table.text-center td, table.text-center th {
  text-align: center !important;
}

.footer {
  background-color: #212121 !important;
  color: #999999;
  text-align: center;
  line-height: $footerHeight;
  height: $footerHeight;
  span {
    margin-left: 5px;
    margin-right: 5px;
  }
}


.label{
  font-size:0.8em;
  min-width:3rem;
  padding: 6px;
  text-align:center;
  line-height:1.6em;
  color:#fff;
  background-color:#868e94;
  border-radius:2px;
  margin-right:8px;
}

.label-success{
  background-color:#26a69a;
}

a{
  text-decoration:none;
  color:#428bca;
  &:hover{
    text-decoration:underline;
  }
}
