
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  //AppBar
  .appbar {
    overflow:hidden;
    height:$navbar1Height;
    transition:height .3s ease;
    color: #fff;
    .appbar-title {
      float: left;
      font-size: 22px;
      font-weight: normal;
      line-height: $navbar1Height;
    }
    ul.appbar-menu {
      float: right;
      height:100%;
      list-style:none;
      display:flex;
      align-items:center;
      & svg {
        fill: #fff !important;
      }
    }
  }
}

.f-hide-appbar .appbar{
  height:0;
}

